<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.here.modules.product.mapper.PmsAttributeValueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.here.modules.product.entity.PmsAttributeValue">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="product_attributeId" property="productAttributeId"/>
        <result column="value" property="value"/>
    </resultMap>

</mapper>
