<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.here.modules.product.mapper.PmsCateAttrRelationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.here.modules.product.entity.PmsCategoryAttributeRelation">
        <id column="id" property="id"/>
        <result column="category_id" property="categoryId"/>
        <result column="attribute_id" property="attributeId"/>
    </resultMap>

</mapper>
